body,
div,
h1,
h2,
h3,
h4,
h5,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style-type: none;
}

body {
	font: 14px 'Microsoft Yahei', Arial, Helvetica, sans-serif;
	color: #515151;
}

a {
	color: #515151;
	text-decoration: none;
}

a:hover {
	color: #31a5e7;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.ml-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	/* padding: 15px 0; */
	background-color: rgba(0, 0, 0, 0.85);
}

.ml-nav a {
	font-size: 16px;
	color: #fff;
}

.ml-nav a:hover {
	color: #3ef4f8;
}

.ml-logo {
	float: left;
	width: 226px;
	height: 63px;
	transform: scale(0.8);
	margin-top: 15px;
	font-size: 0;
	background-image: url('~public/img/meilannote2_logo.png');
	background-repeat: no-repeat;
}

.ml-link {
	float: right;
	margin: 0px 150px 0 0;
	font-size: 0;
}

.ml-link a {
	line-height: 95px;
	display: inline-block;
	margin-left: 55px;
}

.buy-now {
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	background-color: #3db1fa;
}

.center-wrap {
	position: relative;
	z-index: 1;
	width: 1300px;
	height: 100%;
	margin: 0 auto;
}

.section {
	overflow: hidden;
}

.section h1 {
	margin-bottom: 20px;
	line-height: 1.4;
	font-size: 40px;
	font-weight: 400;
}

/* 第一屏 */
.banner {
	background: url('~public/img/example/banner.png') center 0 no-repeat;
}

/* 第二屏 */
.hospital {
	position: relative;
}

.hospital .colorBox {
	height: 400px;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	background: rgba(247, 247, 247, 1);
}

.hospital .bgBox {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	/* background: url('../img/example/hospital/bg.png') center 0 no-repeat; */
}

.hospital .desc {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.hospital .content {
	margin-bottom: 30px;
}

.hospital .content h3 {
	font-size: 28px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 30px;
}

.hospital .content div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 30px;
}

.hospital .content span {
	font-size: 24px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(36, 115, 213, 1);
}

.hospital ul li {
	display: inline-block;
	text-align: center;
	margin-right: 40px;
}

.hospital ul li img {
	width: 65px;
	height: 65px;
}

.hospital ul li img+div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 38px;
}

.hospital .mobile {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 680px;
	height: 587px;
	right: 0;
}

/* 第三屏 */
.government {
	position: relative;
	background: url('~public/img/example/government/bg.png') center 0 no-repeat;
}

.government .computer {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.government .desc {
	position: absolute;
	width: 440px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.government .content {
	margin-bottom: 30px;
}

.government .content h3 {
	font-size: 28px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 30px;
}

.government .content div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 30px;
}

.government .content span {
	font-size: 24px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(36, 115, 213, 1);
}

.government td {
	text-align: center;
	padding: 0 30px 0 0;
}

.government td img {
	width: 49px;
	height: 49px;
}

.government td div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
	margin: 30px 0;
}

/* 第四屏 */
.ticket {
	position: relative;
}

.ticket .colorBox {
	height: 460px;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	background: rgba(247, 247, 247, 1);
}

.ticket .bgBox {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	/* background: url('../img/example/ticket/bg.png') center 0 no-repeat; */
}

.ticket .desc {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.ticket .content {
	margin-bottom: 30px;
}

.ticket .content h3 {
	font-size: 28px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 30px;
}

.ticket .content div {
	font-size: 20px;
	width: 500px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 30px;
}

.ticket .content span {
	font-size: 24px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(36, 115, 213, 1);
}

.ticket ul li {
	display: inline-block;
	text-align: center;
	margin-right: 40px;
}

.ticket ul li img {
	width: 43px;
	height: 43px;
}

.ticket ul li img+div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

.ticket .mobile {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 690px;
	height: 587px;
	right: 0;
}

/* 第五屏 */
.apartment {
	position: relative;
	background: url('~public/img/example/apartment/bg.png') center 0 no-repeat;
}

.apartment .computer {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.apartment .desc {
	position: absolute;
	width: 440px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.apartment .content {
	margin-bottom: 30px;
}

.apartment .content h3 {
	font-size: 28px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 30px;
}

.apartment .content div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(255, 255, 255, 1);
}

.apartment .content div p {
	color: #acabab;
}

.apartment .content div:nth-of-type(3) {
	margin-bottom: 30px;
}

.apartment .content span {
	font-size: 24px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(36, 115, 213, 1);
}

.apartment td {
	text-align: center;
	padding: 0 30px 0 0;
}

.apartment td img {
	width: 49px;
	height: 49px;
}

.apartment td div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
	margin: 30px 0;
	white-space: nowrap;
}

/* 第六屏 */
.infomation {
	position: relative;
}

.infomation .colorBox {
	height: 440px;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	background: rgba(247, 247, 247, 1);
}

.infomation .bgBox {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	/* background: url('../img/example/infomation/bg.png') center 0 no-repeat; */
}

.infomation .desc {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.infomation .content {
	margin-bottom: 30px;
}

.infomation .content h3 {
	font-size: 28px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 30px;
}

.infomation .content div {
	font-size: 20px;
	width: 443px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 30px;
}

.infomation .content span {
	font-size: 24px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(36, 115, 213, 1);
}

.infomation ul li {
	display: inline-block;
	text-align: center;
	margin-right: 40px;
}

.infomation ul li img {
	width: 52px;
	height: 52px;
}

.infomation ul li img+div {
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 38px;
}

.infomation .mobile {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 680px;
	height: 587px;
	right: 0;
}

/* 第七屏 */
.cpu {
	background: url('~public/img/bg5.png') center 0 no-repeat;
}

.cpu-img {
	position: absolute;
	bottom: -300px;
	left: 50%;
	margin-left: -666px;
}

.cpu-img img {
	width: 1200px;
}


.thin-desc {
	width: 574px;
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
}

.parameters-list li h2 {
	height: 100px;
	line-height: 100px;
}

.hide {
	display: none;
}

.clears:after {
	content: '';
	display: block;
	clear: both;
}

.ul_li_fl li {
	float: left;
}

/* 我们能做什么 */
.abscenterbox {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.boxlist li {
	position: relative;
	background: #fff;
	height: 522px;
	width: 257px;
	text-align: center;
	margin-right: 16px;
	padding: 0 20px;
	transition: all 0.3s;
}

.boxlist li:hover {
	box-shadow: 0 0 3px #ccc;
}

.boxlist .p_title {
	font-size: 26px;
	color: #333333;
	font-weight: bold;
}

.no_active_img img {
	vertical-align: middle;
}

.no_active_img {
	height: 160px;
	margin: 105px auto 0;
}

.p_details {
	border-top: 1px dotted #ccc;
	height: 110px;
	padding-top: 40px;
	position: absolute;
	bottom: 10px;
	width: 260px;
	color: #333333;
	font-size: 16px;
}

.h1_details {
	margin-bottom: 60px;
	font-size: 20px;
	color: #666666;
}

.boxlist li:hover .old_page {
	display: none;
}

.boxlist li:hover .new_page {
	opacity: 1;
	color: #fff;
}


.new_page_title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.new_page {
	transition: all 0.2s;
}

.new_page_details {
	color: #eeeeee;
	font-size: 16px;
	margin-bottom: 10px;
}

.padbox {
	padding: 20px;
}

.padbox img {
	margin: 60px 0 20px;
}

.new_page_cite {
	font-style: normal;
	font-size: 16px;
	text-align: left;
	box-shadow: 0 0 3px #ccc;
}

.new_page_cite div {
	padding: 8px 0;
	border-bottom: 1px solid #fff;
}

.opacityzero {
	opacity: 0;
}

/* 我们做过什么 */
.only_width {
	max-width: 1550px;
	width: 1550px;
}

.bg_hover_img {
	padding: 0 10px;
	margin-right: 35px;
	margin-bottom: 20px;
}

.bg_hover_img p {
	color: #fff;
	text-align: center;
	font-size: 16px;
}

p.bg_hover_img_title {
	margin-bottom: 20px;
	font-size: 24px;
}

.bg_ul li:hover {
	top: -10px;
	box-shadow: 3px 5px 31px 0px #676767;
}

.bg_ul li:last-child {
	margin-right: 0;
}

.aftershow {
	opacity: 0;
}

.bg_ul li {
	top: 0;
	position: relative;
	transition: all 0.3s;
}

.bg_ul li>div {
	transition: all 0.3s;
}

.bg_ul li:hover>div {
	margin: 65px auto 30px;
}

.bg_ul li:hover .aftershow {
	opacity: 1;
}

/* 售后 */
.AfterSale {
	// background: url(~public/img/AfterSale.png) no-repeat center;
	width: 100%;
	height: 100%;
	position: relative;
}

.AfterSale .tab_list {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.tab_ul_max {
	width: 1200px;
	margin: 0 auto;
}

.tab_ul_max li h1 {
	color: #02fbfe;
}

.tab_ul_max li {
	transition: 0.3 all;
	margin: 0 15px;
}

.tab_ul_max li p {
	line-height: 0px;
}

.des_info p {
	font-size: 24px;
	color: #fff;
}

.des_info h1 {
	color: #fff;
	font-size: 36px;
}

.des_info {
	position: absolute;
	left: 50%;
	width: 900px;
	margin-left: -450px;
	top: 50%;
	text-align: center;
	margin-top: -87px;
}

.tab_ul_max li cite {
	padding: 5px 0;
	font-style: normal;
	font-size: 16px;
	float: left;
}

.tab_ul_max li:after {
	content: '';
	clear: both;
	display: block;
}

.tab_ul_max li.active .icon_box_new {
	display: block;
}

.tab_ul_max li.active .icon_box_old {
	display: none;
}

.tab_ul_max li.active p,
.tab_ul_max li.active,
.tab_ul_max li:hover,
.tab_ul_max li:hover p {
	cursor: pointer;
	color: #137edf;
}

.tab_ul_max li:hover .icon_box_old {
	display: none;
}

.tab_ul_max li:hover .icon_box_new {
	display: block;
}

.tab_ul_max li img {
	transform: scale(0.6);
}

.tab_ul_max li cite.des_cite {
	padding: 20px 0 0;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
}

.des_cite p {
	color: #909090;
}

/* 联系我们 */

.link_me_box {
	width: 360px;
	margin-top: 50px;
	float: left;
}

.link_me_box li {
	margin-bottom: 30px;
}

.postform {
	position: relative;
	width: 680px;
	border-radius: 6px;
	color: #e1e1e1;
	padding: 40px;
	float: left;
	margin-left: 50px;
	background: rgba(117, 117, 117, 0.5);
}

.formh1 {
	font-size: 28px;
	margin-bottom: 20px;
}

.postform input {
	height: 45px;
	border-radius: 4px;
	border: 0;
	text-indent: 20px;
	width: 330px;
}

.inputbox {
	margin-bottom: 15px;
}

.inputbox input:nth-child(1) {
	margin-right: 15px;
}

.postdatabtn div {
	float: left;
}

.postdatabtn div:nth-child(1) {
	color: #fe6702;
	line-height: 47px;
}

.postdatabtn div:nth-child(2) {
	cursor: pointer;
	float: right;
	border: 0;
	/* border: 1px solid #e1e1e1; */
	border-radius: 4px;
	height: 45px;
	padding: 0 20px;
	font-size: 18px;
	line-height: 45px;
	color: #fff;
	background: linear-gradient(#fcab07, #f77f0c);
}

.postdatabtn div:nth-child(2):hover {
	background: linear-gradient(#ffd277, #f77f0c);
}

input,
button,
select,
textarea {
	outline: none;
}

textarea {
	resize: none;
}

.textareabox {
	padding-top: 12px;
	text-indent: 15px;
	width: 671px;
	border-radius: 4px;
	height: 200px;
	margin-bottom: 10px;
}

.footer_title {
	color: #fff;
	font-size: 22px;
	/* margin-bottom: 10px; */
}

.footer_title .icon_img_ {
	vertical-align: middle;
}

.footer_title img {
	margin-right: 8px;
	position: relative;
	top: 8px;
}

.link_me_box p {
	margin-top: 0px;
}

.footer_info {
	margin-left: 47px;
	font-size: 16px;
	color: #e1e1e1;
}

.footer_info img {
	margin-right: 10px;
}

.phone_only {
	color: #59c74d;
	margin-bottom: 10px;
}

.bottom_fiexd {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	color: #666666;
	padding: 10px 0;
}

/* 项目 */
.rel_box {
	margin-top: 80px;
	position: relative;
}

.rel_box img {
	display: block;
	margin: 0 auto;
}

.rangul li {
	width: 120px;
	text-align: center;
	font-size: 20px;
}

.water_ {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -960px;
	z-index: 2;
}

/* 我们做过什么 */
.new-des {
	color: #fff;
}

.new-des p {
	font-size: 20px;
}

.ed_ul {
	width: 900px;
	margin: 0 auto;
}

.ed_ul li img {
	max-width: 100%;
	width: 100%;
	cursor: pointer;
}

.ed_ul li {
	width: 100px;
	margin: 20px 40px 0;
	transition: all 0.3s;
}

.ed_ul li:hover {
	transform: scale(1.1);
}

.details_tab li cite {
	font-style: normal;
	display: inline-block;
	width: 400px;
}

.details_tab li cite:nth-child(1) {
	margin-right: 130px;
}

.details_tab li cite img {
	max-width: 100%;
}

.details_tab {
	margin-top: 200px;
}

.icon_img_ {
	display: inline-block;
	width: 40px;
	height: 50px;
}

.icon_img_ img {
	display: block;
	margin: 0 auto;
}

.footer_title>div {
	display: inline-block;
}

.footer_font,
.footer_font p {
	color: #fff;
}

.selectbox {
	width: 330px;
	height: 47px;
	border: 0;
	text-indent: 20px;
	border-radius: 4px;
}

.msg_alert {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 8px 15px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	transform: translate(-50%);
}

/* 全局~ */
.nopad {
	padding-top: 0;
}

.onlyabscenterbox {
	top: 40%;
}

.center-wrap h1 {
	margin: 0 0 20px 0;
}