@charset 'utf-8';
body{
	background: #f5e5c1;
}
.snow-container{
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;  
	background: url('../../images/bgimg_top.jpg') no-repeat center 0;
	z-index: -1;
}
.container{
	width: 950px;
	max-width: 950px;
	margin: 0 auto;
}
.topbar{
	background: rgba(0,0,0,.5);
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	font-family: "微软雅黑light";
}
#nprogress .bar {
	background: #ff4343 !important;
}
.userInfo{
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 20%; 
	height: 100%; 
	background: url('../../images/blog_leftbanner.jpg') no-repeat center 0;
	background-size: cover;
}

#tab-wrap {
	width: 300px;
	height: 200px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

#tab-wrap .tab-hd {
	height: 35px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

#tab-wrap .tab-hd span {
	display: inline-block;
	width: 80px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}

#tab-wrap .tab-hd .active {
	border-right: 1px solid #ccc;
	background-color: #ccc;
	color: #fff;
}

#tab-wrap .tab-bd .tab-bd-content {
	display: none;
}
.main {
	.bg{
		width: 100px;
		height: 100px;
		background-image: url(../../images/zdg.png)
	}
}
